<a href="https://colab.research.google.com/github/RohitRana208/thapar-summer-school2023/blob/main/ASSIGNMENT1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q 1.

(i) WAP to add 50 and 60 in the list.

In [ ]:
L = [11 ,12 ,13 ,14]
print("List is -->",L)

L.append(50)
L.append(60)
print("Adding 50 and 60 in list ",L)

List is --> [11, 12, 13, 14]
Adding 50 and 60 in list  [11, 12, 13, 14, 50, 60]

(ii) WAP to remove 11 and 13 from L

In [ ]:
L = [11 ,12 ,13 ,14]
print("List is -->",L)
del L[2]
del L[0]
print(L)

List is --> [11, 12, 13, 14]
[12, 14]

(iii) WAP to sort L in ascending order

In [ ]:
L = [11 ,12 ,13 ,14 ,1 ,2 ,3]
print("List is -->",L)
L.sort()
print("After sort -->",L)

List is --> [11, 12, 13, 14, 1, 2, 3]
After sort --> [1, 2, 3, 11, 12, 13, 14]

(iv) WAP to sort L in decending order

In [ ]:
L = [11 ,12 ,13 ,14 ,1 ,2 ,3]
print("List is -->",L)
L.sort(reverse=True)
print("After --> ",L)

List is --> [11, 12, 13, 14, 1, 2, 3]
After -->  [14, 13, 12, 11, 3, 2, 1]

(v) WAP to search for 13 in L.

In [ ]:
L = [11 ,12 ,13 ,14 ,1 ,2 ,3]
print("List is -->",L)
print ("Original List --> ", 13 in L)
if (13 in L) == True:
	print ("Present")
else:
	print ("Not Present")

List is --> [11, 12, 13, 14, 1, 2, 3]
Original List -->  True
Present

(vi) WAP to count the number of elements present in L.

In [ ]:
L = [11 ,12 ,13 ,14]
print("List is -->",len(L))

List is --> 4

(vii) WAP to sum all the elements in L.

In [ ]:
L = [11 ,12 ,13 ,14 ]
print("List is -->",L)
print("sum is --> ",sum(L))

List is --> [11, 12, 13, 14]
sum is -->  50

(ix) WAP to sum all EVEN numbers in L.

In [ ]:
def sum_even_numbers(L):
    total = 0
    for num in L:
        if num % 2 == 0:
            total = total + num
    return total

L = [11 ,12 ,13 ,14]
even_sum = sum_even_numbers(L)
print("Sum of even numbers:", even_sum)

Sum of even numbers: 26

(x) WAP to sum all PRIME numbers in L

In [ ]:
def ISprime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def psum_num(L):
    t = 0
    for num in L:
        if ISprime(num):
            t = t + num
    return t

# Example usage
L = [11 ,12 ,13 ,14]
psum = psum_num(L)
print("Sum of prime numbers:", psum)

Sum of prime numbers: 24

(xi) WAP to clear all the elements in L.

In [ ]:
L = [11 ,12 ,13 ,14]
print("List is -->",L)

L.clear()
print("After clear -->",L)

List is --> [11, 12, 13, 14]
After clear --> []

(xii) WAP to delete L.


Q2. D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.

(i) WAP to add new entry in D; key=8 and value is 8.8

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print("Before add --> ",D)

D[8] = 8.8

print("After adding -->",D)

Before add -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
After adding --> {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

(ii) WAP to remove key=2.

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print("Before remove--> ",D)

del D[2]

print("After removing -->",D)

Before remove-->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
After removing --> {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7}

(iii) WAP to check weather 6 key is present in D

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print("D is--> ",D)

print ("Is Key 6 Present    --> ", 6 in D)

Before remove-->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
Is Key 6 Present    -->  False

(iv) WAP to count the number of elements present in D.

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print("Number of elements in D--> ",len(D))

Before remove-->  5

(v) WAP to add all the values present D.

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print("sum of D is --> ",sum(D))

Before remove-->  15

(vi) WAP to update the value of 3 to 7.1

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print("Before --> ",D)

D[3] = 7.1

print("After update -->", D)

Before remove-->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
After update --> {1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7}

(vii) WAP to clear the dictionary

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print("Before --> ",D)

D.clear()

print("Cleared D",D)

Before -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
Cleared D {}

Q3. S1 is a set defined as S1= [10, 20, 30, 40, 50, 60]                         
 S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].

(i) WAP to add 55 and 66 in Set S1

In [ ]:
S1= [10, 20, 30, 40, 50, 60]
print("S1 is --> ",S1)

S1.append(55)
S1.append(66)

print("After adding --> ",S1)

S1 is -->  [10, 20, 30, 40, 50, 60]
After adding -->  [10, 20, 30, 40, 50, 60, 55, 66]

(ii) WAP to remove 10 and 30 from Set S1.

In [ ]:
S1= [10, 20, 30, 40, 50, 60]
print("S1 is --> ",S1)

S1.remove(10)
S1.remove(30)

print("After removing --> ",S1)

S1 is -->  [10, 20, 30, 40, 50, 60]
After removing -->  [20, 40, 50, 60]

(iii) WAP to check whether 40 is present in S1

In [ ]:
S1= [10, 20, 30, 40, 50, 60]
print("S1 is --> ", S1)

if (40 in S1) == True:
  print("Present")
else:
  print("Not present")

  S1= [10, 20, 30, 40, 50, 60]
#print("S1 is --> ", S1)
S2= [40, 50, 60, 70, 80, 90]
#print("S2 is --> ", S2)
union_set = S1.union(S2)
print("Union between S1 and S2 is --> ",union_set)

S1 is -->  [10, 20, 30, 40, 50, 60]
Present

(iv) WAP to find the union between S1 and S2.

In [ ]:
S1= [10, 20, 30, 40, 50, 60]
print("S1 is --> ", S1)
S2= [40, 50, 60, 70, 80, 90]
print("S2 is --> ", S2)
union=list(set().union(S1,S2))
print("Union between S1 and S2 is --> ",union)

S1 is -->  [10, 20, 30, 40, 50, 60]
S2 is -->  [40, 50, 60, 70, 80, 90]
Union between S1 and S2 is -->  [70, 40, 10, 80, 50, 20, 90, 60, 30]

(v) WAP to find the intersection between S1 and S2.

In [ ]:
S1= [10, 20, 30, 40, 50, 60]
print("S1 is --> ", S1)
S2= [40, 50, 60, 70, 80, 90]
print("S2 is --> ", S2)

set1 = set(S1)
set2 = set(S2)

result = list(set1 & set2)

print(result)

S1 is -->  [10, 20, 30, 40, 50, 60]
S2 is -->  [40, 50, 60, 70, 80, 90]
[40, 50, 60]

In [ ]:
(vi) WAP to find the S1 - S2.

In [ ]:
S1= [10, 20, 30, 40, 50, 60]
print("S1 is --> ", S1)
S2= [40, 50, 60, 70, 80, 90]
print("S2 is --> ", S2)

difference_set = list(set(S1) - set(S2))

print(difference_set)

S1 is -->  [10, 20, 30, 40, 50, 60]
S2 is -->  [40, 50, 60, 70, 80, 90]
[10, 20, 30]

Q4. Write the following program.            
(i) WAP to print 100 random strings whose length between 6 and 8

In [ ]:
import random
import string

for _ in range(100):
    length = random.randint(6, 8)
    random_string = ''.join(random.choices(string.ascii_uppercase, k=length))
    print(random_string)

(ii) WAP to print all prime numbers between 600 and 800.

In [ ]:
def IsPrime(n):
	for i in range(2, n//2 + 1):
		if n%i==0:
			return 0
	return 1

s = 600
e = 800

pnumbers = []

for num in range(s, e + 1):
    if IsPrime(num):
        pnumbers.append(num)

for prime in pnumbers:
    print(prime)

(iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

In [ ]:
s = 100
e = 1000

divisible = []

for num in range(s, e + 1):
    if num % 7 == 0 and num % 9 == 0:
        divisible.append(num)

for number in divisible:
    print(number)

Q5. WAP to create two lists of 10 random numbers between 10 and 30;    
 Find 
(i) Common numbers in the two lists

In [ ]:
S1 = random.sample(range(10, 31), 10)
S2 = random.sample(range(10, 31), 10)
print(S1)
print(S2)
print(set(S1) & set(S2))

import random
S1 = random.sample(range(10, 31), 10)
S2 = random.sample(range(10, 31), 10)
print(S1)
print(S2)
print(list(set(S1).intersection(S2)))

[10, 25, 12, 28, 23, 27, 30, 18, 22, 26]
[28, 17, 27, 10, 16, 11, 29, 18, 12, 20]
{10, 12, 18, 27, 28}

(ii) Unique numbers in both the list

In [ ]:
import random

L1 = random.sample(range(10, 31), 10)
L2 = random.sample(range(10, 31), 10)

print("List 1:", L1)
print("List 2:", L2)
print("Unique numbers in both lists:",list(set(L1).intersection(L2)))

List 1: [15, 23, 10, 20, 16, 13, 29, 24, 12, 18]
List 2: [26, 28, 19, 14, 30, 21, 13, 10, 15, 22]
Unique numbers in both lists: [10, 13, 15]

(iii) Minimum in both the list

In [ ]:
import random

L1 = random.sample(range(10, 31), 10)
L2 = random.sample(range(10, 31), 10)

print("List 1:", L1)
print("List 1:", max(L1))
print("List 2:", L2)
print("List 2:", max(L2))

List 1: [29, 27, 23, 17, 13, 22, 18, 16, 11, 15]
List 1: 29
List 2: [10, 17, 25, 13, 23, 12, 11, 26, 15, 19]
List 2: 26

(iv) Maximum in both the list

In [ ]:
import random

L1 = random.sample(range(10, 31), 10)
L2 = random.sample(range(10, 31), 10)

print("List 1:", L1)
print("List 1:", min(L1))
print("List 2:", L2)
print("List 2:", min(L2))

List 1: [29, 15, 17, 16, 21, 10, 11, 12, 18, 26]
List 1: 10
List 2: [11, 27, 19, 22, 23, 30, 16, 26, 28, 25]
List 2: 11

(v) Sum of both the lists

In [ ]:
import random

L1 = random.sample(range(10, 31), 10)
L2 = random.sample(range(10, 31), 10)

print("List 1:", L1)
print("List 1:", sum(L1))
print("List 2:", L2)
print("List 2:", sum(L2))

List 1: [23, 12, 13, 18, 29, 26, 28, 17, 24, 30]
List 1: 220
List 2: [11, 18, 12, 27, 17, 13, 15, 14, 20, 16]
List 2: 163

Q6. WAP to create a list of 100 random numbers between 100 and 900. Count and print the: 

(i) All odd numbers

In [ ]:
import random

random_numbers = [random.randint(100, 900) for _ in range(100)]

odd_numbers = [num for num in random_numbers if num % 2 != 0]

print("All odd numbers:", odd_numbers)
print("Count of odd numbers:", len(odd_numbers))

All odd numbers: [711, 701, 423, 177, 757, 239, 443, 325, 857, 405, 583, 271, 361, 155, 683, 241, 701, 375, 689, 583, 109, 241, 145, 621, 339, 381, 439, 251, 319, 365, 487, 511, 305, 319, 853, 559, 771]
Count of odd numbers: 37

(ii) All even numbers

In [ ]:
import random

random_numbers = [random.randint(100, 900) for _ in range(100)]

even_numbers = [num for num in random_numbers if num % 2 == 0]

print("All odd numbers:", even_numbers)
print("Count of even numbers:", len(even_numbers))

All odd numbers: [500, 220, 162, 440, 870, 882, 390, 812, 384, 630, 882, 346, 276, 766, 562, 670, 658, 530, 754, 480, 572, 846, 494, 122, 562, 610, 812, 786, 566, 230, 440, 384, 522, 626, 532, 298, 846, 284, 622, 576, 734, 806, 170, 430, 746, 258, 116, 336, 618, 382, 150, 656, 440, 424, 630, 330, 788]
Count of even numbers: 57

(iii) All prime numbers

In [ ]:
import random

def ISprime(num):
    if num < 2:
        return False
    for i in range(2, int(num//2) + 1):
        if num % i == 0:
            return False
    return True

random = [random.randint(100, 900) for _ in range(100)]
print(random)
pnumbers = [num for num in random if ISprime(num)]

print("All prime numbers:", pnumbers)
print("Count of prime numbers:", len(pnumbers))

[285, 443, 434, 448, 511, 502, 538, 656, 279, 781, 430, 540, 414, 854, 838, 614, 756, 440, 433, 572, 426, 582, 512, 133, 551, 673, 293, 584, 427, 617, 667, 642, 311, 790, 656, 419, 455, 775, 353, 160, 412, 769, 748, 710, 233, 689, 838, 187, 368, 658, 741, 473, 491, 137, 127, 446, 786, 376, 380, 443, 659, 274, 846, 123, 772, 554, 819, 410, 561, 307, 386, 376, 433, 545, 377, 238, 509, 773, 103, 466, 299, 223, 263, 154, 820, 583, 886, 300, 856, 429, 206, 301, 499, 366, 649, 102, 488, 120, 807, 229]
All prime numbers: [443, 433, 673, 293, 617, 311, 419, 353, 769, 233, 491, 137, 127, 443, 659, 307, 433, 509, 773, 103, 223, 263, 499, 229]
Count of prime numbers: 24